import 'dart:async';
import 'package:bloc/bloc.dart';
import 'package:${appName}${relative}/index.dart';

class ${upperName}Bloc extends Bloc<${upperName}Event, ${upperName}State> {
  static final ${upperName}Bloc _${privateName}BlocSingleton = new ${upperName}Bloc._internal();
  factory ${upperName}Bloc() {
    return _${privateName}BlocSingleton;
  }
  ${upperName}Bloc._internal();
  
  ${upperName}State get initialState => new Un${upperName}State();

  @override
  Stream<${upperName}State> mapEventToState(
    ${upperName}Event event,
  ) async* {
    try {
      yield await event.applyAsync(currentState: currentState, bloc: this);
    } catch (_) {
      print('${upperName}Bloc ' + _?.toString() + StackTrace.current.toString());
      yield currentState;
    }
  }
}
