by code:
if (fileName === 'index.dart') {
          const files: string[] = await fsReaddir(loc.dirPath);
          let contentStr = '';
          for (const file of files) {
            if (file === 'index.dart') {
              continue;
            }
            contentStr += `export '${file}'\r\n`;
          }
          const result: IFiles = {
            name: path.join(loc.dirPath, fileName),
            content: contentStr,
          };
          return result;
        }