export '${inputName}_page.dart';
export '${inputName}_bloc.dart';
export '${inputName}_event.dart';
export '${inputName}_state.dart';
export '${inputName}_screen.dart';
export '${inputName}_provider.dart';
export '${inputName}_repository.dart';
export '${inputName}_model.dart';