import 'package:${appName}${relative}/index.dart';

class ${upperName}Repository {
  final ${upperName}Provider _${privateName}Provider = new ${upperName}Provider();

  ${upperName}Repository();

  void test() {
    this._${privateName}Provider.test();
  }
}