import 'package:${appName}${relative}/index.dart';

class ${upperName}Repository {
  final ${upperName}Repository _${privateName}Repository = new ${upperName}Repository();

  ${upperName}Repository();

  void test() {
    this._${privateName}Repository.test();
  }
}