class ${upperName}Repository {
  Future<void> loadAsync(String token) async {
    /// write from keystore/keychain
  }

  Future<void> saveAsync(String token) async {
    /// write from keystore/keychain
  }

  void test() {}
}
