import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:${appName}/${inputName}/index.dart';

class ${upperName}Screen extends StatefulWidget {
  const ${upperName}Screen({
    Key key,
    @required ${upperName}Bloc ${privateName}Bloc,
  })  : _${privateName}Bloc = ${privateName}Bloc,
        super(key: key);

  final ${upperName}Bloc _${privateName}Bloc;

  @override
  ${upperName}ScreenState createState() {
    return new ${upperName}ScreenState(_${privateName}Bloc);
  }
}

class ${upperName}ScreenState extends State<${upperName}Screen> {
  final ${upperName}Bloc _${privateName}Bloc;
  ${upperName}ScreenState(this._${privateName}Bloc);

  @override
  void initState() {
    super.initState();
    this._${privateName}Bloc.dispatch(Load${upperName}Event());
  }

  @override
  void dispose() {
    super.dispose();
  }

  @override
  Widget build(BuildContext context) {
    return BlocBuilder<${upperName}Event, ${upperName}State>(
        bloc: widget._${privateName}Bloc,
        builder: (
          BuildContext context,
          ${upperName}State currentState,
        ) {
          if (currentState is Un${upperName}State) {
            return Center(
              child: CircularProgressIndicator(),
            );
          }
          return new Container(
              child: new Center(
            child: new Text("В разработке"),
          ));
        });
  }
}
